include ../mixins
extends ../layout

block content
	mixin popupNavigationMenu
	
	div#main
		mixin topNavigationMenu
		div(class='content', ng-view)

		//-div(class='content', ng-switch, on='template')
			div(ng-switch-when='/partials/data', ng-include="template")