include ../mixins
extends ../layout

block content
	div(id="popup-navigation", ng-show="navigation", ng-include='/partials/menus/navigation')
	
	div#main
		div(id='top-navigation-bar', ng-include='/partials/menus/main')
		div(class='content', ng-view)

		//-div(class='content', ng-switch, on='template')
			div(ng-switch-when='/partials/data', ng-include="template")