li: a(href='#')
  i.icon-wrench
  span manage notifications
li: a(href='#')
  i.icon-flag-alt
  span add to dashboard
li.top-divider: a(href='#', class='toggle-display')
  i.icon-eye-close
  span hide notifications
li: a(href='#')
  i.icon-remove
  span remove notifications box
li.top-divider: a(href='#')
  i.icon-question-sign
  span help