div
	div.header
		h2(ng-bind-html-unsafe='icon+title')
		a(href='#', data-toggle='dropdown', class='dropdown-toggle')
			i.icon-cog
		//-ul(class='dropdown-menu hide', ng-include='menu', ng-controller='MenuController')
		ul(class='dropdown-menu hide')
			li: a(href='#', ng-click='toggleManagement()')
				i.icon-wrench
				span {{manage.state}}
			li: a(href='#')
				i.icon-flag-alt
				span add to dashboard 
					//-pull from dashboard
			
			li(ng-repeat='option in menu', ng-class='{"top-divider":option.divider}'): a(href='#', ng-click='{{option.action}}')
				i(class='{{"icon-"+option.icon}}')
				span {{option.label}}
			li(ng-repeat='time in timeframe', ng-class='{"top-divider":option.divider}'): a(href='#', ng-click='changeTimeframe({{time}})')
				i(class='icon-calendar')
				span show {{time}}
			li.top-divider: a(href='#', class='toggle-display')
				i.icon-eye-close
				span hide {{title}} box
			li.top-divider: a(href='#', ng-click='toggleHelp()')
				i.icon-question-sign
				span {{help.state}}	
		
	div(class='content', ng-include='viewport.current')