//-div.module
div
	div.header
		h2 <i class='icon-globe'></i> {{title}}
		a(href='#', data-toggle='dropdown', class='dropdown-toggle')
			i.icon-cog
		//-ul(class='dropdown-menu hide', ng-include='menu', ng-controller='MenuController')
		ul(class='dropdown-menu hide')
			li(ng-repeat='option in menu', ng-class='{"top-divider": option.divider}'): a(href='#', ng-click='{{"menu" + option.action}}')
				i(class='{{"icon-" + option.icon}}')
				span {{option.label}}
			//-li: a(href='#')
				i.icon-wrench
				span manage notifications
			//-li: a(href='#')
				i.icon-flag-alt
				span add to dashboard 
					//-pull from dashboard
			//-li.top-divider: a(href='#', class='toggle-display')
				i.icon-eye-close
				span hide notification box
			//-li: a(href='#')
				i.icon-remove
				span remove notification box
			//-li.top-divider: a(href='#', ng-click='toggleHelp()')
				i.icon-question-sign
				span help	
		
	div(class='content', ng-include='viewport')