div.data-wrapper
	div(ng-cloak, ng-repeat='module in modules.data', class='module {{mod.class || mod.title}} {{frame.size}}', ng-include='modules.partial', ng-controller='ModuleCtrl', ng-show='load.complete')

div.location-footer
	div.current-page
		a(href='#', class='app-color facebook'): i.icon-facebook
		span {{page.location}}
	div(class='page-loading', ng-hide='load.complete')
		span loading
		img(src='/images/ng-load.gif')
	div(class='hidden-modules')
		div(ng-click='modules.revive(3)') <i class='icon-plus-sign-alt'></i> posts
	div.page-options
		a(href='#', data-toggle='dropdown', class='dropdown-toggle'): i.icon-cog
		ul(class='dropdown-menu dropup')
			li: a(href='#')
				i.icon-wrench
				span load a new random tip
			li.top-divider: a(href='#')
				i.icon-wrench
				span vocada {{page.location}} settings
