ul(class='data-content page-notifications-list')
	li 
		i(class='icon-warning-sign red')
		span
			b you may have negative user comments!
	li 
		i.icon-edit
		span you have added <b>2</b> new posts to your wall
	li 
		i.icon-edit
		span you have <b>1</b> new wall post from another user
	li 
		i.icon-thumbs-up-alt
		span <b>22</b> new page likes
	li 
		i.icon-comments-alt
		span <b>3</b> new comments
	li 
		i.icon-share
		span <b>2</b> new shares 
	li 
		i.icon-user
		span you have a <b>new top commenter</b>!
	li 
		i.icon-user
		span you have a <b>new top liking user</b>!
	li 
		i.icon-user
		span you have a <b>new top sharing user</b>!
	li 
		i.icon-building
		span you have updated your business information
div(class='help hide')
	p Tetsing out the help area. Here you will find help. Help is the exact think one will find in this area. Are you looking for help? Congrats. You found it... here, in the help area! Help!
div(class='options hide')