include mixins
extends layout

block content
	div(id='popup-navigation', ng-show='navigation', ng-include='navigationMenu')
	
	div#main
		div(id='top-navigation-bar', ng-include='mainMenu')
		div(class='content', ng-view)