include mixins
extends layout

block content
	div(id='popup-navigation', ng-show='navigation.active', ng-include='navigation.template')
	
	div(id='main')
		div(id='top-navigation-bar', ng-include='header')
		div(class='content', ng-view)