doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css')
		link(rel='stylesheet', href='/fonts/font-awesome/css/font-awesome-social.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/socket.io/socket.io.js')

	body
		block content

		script console.log(!{JSON.stringify(locals)}); //- TEMP
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
		script(src='/javascript/bootstrap.min.js')
		script(src='http://code.highcharts.com/highcharts.js')	
		script(src='/javascript/packery.min.js')
		script(src='/javascript/draggabilly.min.js')
		script(src='/javascript/vocada.main.js')
		script(src='/javascript/vocada.charts.js')	