mixin userLoginForm
	form(action="/login", method="POST", id="login-form", accept-charset="utf-8")
		input(type="hidden", name="_method", value="POST")
		fieldset
			div(class="input text required")
				label email
				input(type="text", name="email", id="login-user", required)
			div(class="input password required")
				label password
				input(type="password", name="password", id="login-password", required)
			div(class="input checkbox")
				input(type="hidden", name="auto-login", value="0", id="auto-login_")
				input(type="checkbox", name="auto-login", value="1", id="auto-login")
				label remember me
		div.submit
			input(type="submit", value="Sign In")

mixin createUserForm
	form(action="/user/create", method="POST", id="create-user-form", accept-charset="utf-8")
		input(type="hidden", name="_method", value="POST")
		fieldset
			div(class="input text required")
				label email
				input(type="text", name="email", id="create-user-email", required)
			div(class="input password required")
				label password
				input(type="password", name="password", id="create-user-password", required)
			//-div(class="input checkbox")
				input(type="hidden", name="auto-login", value="0", id="auto-login_")
				input(type="checkbox", name="auto-login", value="1", id="auto-login")
				label remember me
		div.submit
			input(type="submit", value="Create")

mixin createBusinessForm
	form(action="/business/create", method="POST", id="create-business-form", accept-charset="utf-8")
		input(type="hidden", name="_method", value="POST")
		fieldset
			div(class="input text required")
				label name
				input(type="text", name="name", id="create-business-name", required)
			//-div(class="input password required")
				label password
				input(type="password", name="password", id="create-user-password", required)
			//-div(class="input checkbox")
				input(type="hidden", name="auto-login", value="0", id="auto-login_")
				input(type="checkbox", name="auto-login", value="1", id="auto-login")
				label remember me
		div.submit
			input(type="submit", value="Create")

mixin topNavigationMenu
	div(id="top-navigation-bar")
		div#open-popup-menu
			a
				i.icon-list
		div.logo
			- if (false || (typeof location != 'undefined' && location != '')) {
				span(class="icon-mini blue facebook")
					i.icon-facebook
				a(href="#") facebook 
					//-= location
			- } else {
				a(href="/") vocada
				em 0.0.1
			- }
		div#user-navigation
			div#notification
				i.icon-exclamation-sign
				a(href="#", class="dropdown-toggle", data-toggle="dropdown")
					i.icon-info-sign
				ul(class="dropdown-menu hide")
					li.nav-header Notifications
			script 
				var socket = io.connect('http://localhost');
				socket.emit('notifications', function (data) {
					console.log(data);
					//socket.emit('my other event', { my: 'data' });
				});
			div#user-menu
				a(href="#", class='dropdown-toggle', data-toggle="dropdown") 
					span Hello 
						b Scott Carlson
					i.icon-caret-down
				ul(class="dropdown-menu")
					li
						a(href='#') 
							i.icon-wrench
							span Account Settings
					li
						a(href='/business/create')
							i.icon-edit
							span Create New Business
					li.top-divider
						a(href='/logout') 
							i.icon-off
							span Sign Out

mixin popupNavigationMenu
	div(id="popup-navigation", class="hide")
		div(class='close-navigation-menu left')
			i.icon-remove-sign
		div(class='close-navigation-menu right')
			i.icon-remove-sign			
		div.overlay-navigation
			div.overlay-background
			div.overlay-menu
				div(class="menu-block one-row")
					h1
						a data
					div.menu
						div
							a(href="/dashboard", class="icon dashboard")
								i.icon-th
								span dashboard
							a(href="#", class="icon notifications")
								i.icon-bolt
								span alerts
							a(href="#", class="icon analytics")
								i.icon-bar-chart
								span analytics

				div(class="menu-block two-row")
					h1
						a social
					div.menu
						div
							a(href="/social/facebook", class="icon facebook")
								i.icon-facebook
								span facebook
							a(href="/social/twitter", class="icon twitter")
								i.icon-twitter
								span twitter
							a(href="/social/foursquare", class="icon foursquare")
								i.icon-foursquare
								span foursquare
							a(href="/social/yelp", class="icon yelp")
								i.icon-yelp
								span yelp
							a(href="/social/google", class="icon google")
								i.icon-map-marker
								span places
							a(href="/social/google", class="icon google")
								i.icon-google-plus-sign
								span google+
							a(href="/social/youtube", class="icon youtube")
								i.icon-youtube-play
								span youtube
							a(href="/social/instagram", class="icon instagram")
								i.icon-instagram
								span instagram
								
				div(class="menu-block one-row")
					h1
						a tools
					div.menu
						div
							a(href="/tools/bitly", class="icon bitly")
								i .ly
								span bitly
							a(href="#", class="icon responders")
								i.icon-retweet
								span responders
							a(href="#", class="icon users")
								i.icon-user
								span users

				div(class="menu-block one-row")
					h1
						a help
					div.menu
						div
							a(href="#", class="icon quick-start")
								i.icon-rocket
								span quick start
							a(href="#", class="icon faq")
								i.icon-question
								span faq

//- update the sidebar to look like dev.ss.tv
	and it must be actived by user in options (not standard)

mixin sidebarNavigationMenu
	div#sidebar
		div.logo
			a(href="/") vocada
			em 0.0.1
		div#console
			h3 console
			ul
				li
					a dashboard
				li
					a analytics
		div#social
			h3 social media
			ul
				li 
					a(href="#") facebook
				li 
					a(href="#") twitter
		div#advanced
			h3 advanced
			ul
				li
					a responders
				li
					a rss sharing
				li
					a sub users
		div#guide
			h3 guides
			ul
				li
					a quick start
				li
					a faq