include ../mixins
extends ../layout

block content
	script console.log(!{JSON.stringify(locals)});
	div
		- if (locals.hasMessages) {
			div#login-notice-header
				h1 #{locals.messages}
		- }
		div#login-logo
			a(href="/") vocada
			em 0.0.1
			h3.subheader create new business
		div(class="form login-page-containers float-left")
			mixin createBusinessForm
		div#login-powered
			img(src="/images/powered-by-speak-social-sm.png")