div(ng-controller='SocialCtrl')
	div(class='data-wrapper')
		div(ng-repeat='module in modules.data | filter:{sortable:false}', class='module {{module.title || module.name}} large-{{module.large}}', ng-include='modules.partial', ng-controller='ModuleCtrl', ng-show='load.complete&&!module.hidden')

		div.sortables-container
			sortable(ng-repeat='module in modules.data | filter:{sortable:true}', class='module {{module.title || module.name}} large-{{module.large}}', ng-include='modules.partial', ng-controller='ModuleCtrl', ng-show='load.complete&&!module.hidden')

	form(action="/user/delete", method="POST", id="delete-user", accept-charset="utf-8")
		input(type="hidden", name="_method", value="DELETE")
		input(type="submit", value="Delete User")

	footer.location
		div.current-page
			a(class='app-color facebook'): i.icon-facebook
			span {{network.name}}
		div(class='page-loading', ng-hide='load.complete')
			span loading
			img(src='/images/ng-load.gif')
		div(class='hidden-modules', ng-show='load.complete')
			div(ng-repeat='module in modules.data | filter:{hidden:true}', ng-click='module.toggleDisplay()') <i class='icon-plus-sign-alt'></i> {{module.name}}
		div.page-options
			a(data-toggle='dropdown', class='dropdown-toggle'): i.icon-cog
			ul(class='dropdown-menu dropup')
				li: a(href='#')
					i.icon-wrench
					span load a new random tip
				li.top-divider: a(href='#')
					i.icon-wrench
					span vocada {{network.name}} settings
