div.page-notice
	h1 Please select a {{network.name}} business account page
	p This needs to match the Vocada business you are currently logged into
div(class='simple-select-menu facebook-account-select-menu')
	ul
		li(ng-repeat='business in network.businesses')
			div.button
				a(ng-click='network.selectBusiness(business.id)')
					i.icon-signin
					span {{business.name}}

//-for account in locals.facebook.data.accounts.data
