include ../mixins
extends ../layout

block content
	mixin popupNavigationMenu
	
	div#main
		mixin topNavigationMenu
		div.content
			div.page-header
				//-a(href="/social/facebook", class="icon blue facebook")
					i.icon-facebook
					span facebook
			- if (locals.facebook.connected == true && locals.facebook.data) {
				div
					!{JSON.stringify(locals.facebook.data)}
			- } else {
				div.social-login
					p Please login to Facebook using your admin account.
					div(class="social-login-button facebook-login-button")
						a(href="#{facebook.url}", class="icon blue border app-color facebook")
							i.icon-facebook
							span login

				div.help-box
					a(href="#") "My business is a Facebook personal page!" No worries click here for a guide on switching your personal page to a business page. 

				div.help-box
					a(href="#") "I'm not the admin of my Facebook page!" No worries click here to see a guide of having a current admin grant you access. 
			- }

