include ../mixins
extends ../layout

block content
	mixin popupNavigationMenu
	script console.log(!{JSON.stringify(locals)});
	div#main
		mixin topNavigationMenu
		div.content
			- if (locals.twitter.connected == true && locals.twitter.data) {
				div.data-wrapper
						div(class='data-container large daily-tip')
							div
								div.header
									h2 daily tip
									i.icon-remove-sign
								p Remember to handle negative tweets about your business with careful grace. One viscious or reckless tweet to a single user could have dire repercussions for your online business reputation
						div.data-container
							div
								div.header
									h2 <i class='icon-globe'></i> notifications
									a(href='#', data-toggle='dropdown', class='dropdown-toggle')
										i.icon-cog
									ul(class='dropdown-menu hide')
										li: a(href='#')
											i.icon-wrench
											span manage notifications
								ul.page-notifications-list
									li 
										i(class='icon-bolt red')
										span 
											b you may have @mentions with negative sentiment!
									li 
										i.icon-check
										span you have added <b>2</b> new posts to your wall
									li 
										i.icon-check
										span you have <b>1</b> new wall post from another user
									li 
										i.icon-check
										span <b>22</b> new page likes
									li 
										i.icon-check
										span <b>3</b> new comments
									li 
										i.icon-check
										span <b>2</b> new shares 
									li 
										i.icon-check
										span you have a <b>new top commenter</b>!
									li 
										i.icon-check
										span you have a <b>new top liking user</b>!
									li 
										i.icon-check
										span you have a <b>new top sharing user</b>!
									li 
										i.icon-check
										span you have updated your business information
						div(class='data-container stats-data')
							div
								div.header
									h2 quick stats
									a(href='#', data-toggle='dropdown', class='dropdown-toggle')
										i.icon-cog
									ul(class='dropdown-menu hide')
										li: a(href='#')
											i.icon-wrench
											span manage quick stats

								ul.stats
									li tweets this month: 
										b 14 
											span.green [+11%]
									li @mentions this month:
										b 76 
											span.green [+2%]
									li retweets you've recieved this month: 
										b 25 
											span.red [-4%]
									li lastest tweet's viral score: <b><span class='green'>22</span></b> <span class='unchanged'>[click here to see post data]</span> 
									li top tweet's viral score: <b><span class='green'>57</span></b> <span class='unchanged'>[click here to see post data]</span>
						div(class='data-container users-list clear-left')
							div
								div.header
									h2.small last 10 users to @mention you 
									a(href='#', data-toggle='dropdown', class='dropdown-toggle')
										i.icon-cog
									ul(class='dropdown-menu hide')
										li: a(href='#')
											i.icon-group
											span display top liking users
										li: a(href='#')
											i.icon-group
											span display top sharing users
										li: a(href='#')
											i.icon-group
											span display top commenting users
								ul
									li: a(href='#') <img src='https://profile-a.xx.fbcdn.net/hprofile-ash2/c9.5.57.57/s32x32/228973_10200937536347296_820313631_t.jpg' /> Andy Gonzalez
									li: a(href='#') <img src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c5.5.65.65/s32x32/995037_10201379987161566_1563880293_t.jpg' /> Stephanie Bogus
									li: a(href='#') <img src='https://profile-a.xx.fbcdn.net/hprofile-prn1/c7.5.62.62/s32x32/31458_10200424974740320_1404269548_t.jpg' /> Brad Bogus
									li: a(href='#') <img src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c0.10.66.66/s32x32/936958_522530857784897_905958233_t.jpg' /> Rob Contreras
									li: a(href='#') <img src='https://profile-a.xx.fbcdn.net/hprofile-ash3/c2.1.65.65/s32x32/563015_10201152918479075_1124709741_t.jpg' /> Elijah May
									li: a(href='#') <img src='https://profile-a.xx.fbcdn.net/hprofile-ash2/c9.5.57.57/s32x32/228973_10200937536347296_820313631_t.jpg' /> Andy Gonzalez
									li: a(href='#') <img src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c5.5.65.65/s32x32/995037_10201379987161566_1563880293_t.jpg' /> Stephanie Bogus
									li: a(href='#') <img src='https://profile-a.xx.fbcdn.net/hprofile-prn1/c7.5.62.62/s32x32/31458_10200424974740320_1404269548_t.jpg' /> Brad Bogus
									li: a(href='#') <img src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c0.10.66.66/s32x32/936958_522530857784897_905958233_t.jpg' /> Rob Contreras
									li: a(href='#') <img src='https://profile-a.xx.fbcdn.net/hprofile-ash3/c2.1.65.65/s32x32/563015_10201152918479075_1124709741_t.jpg' /> Elijah May

						div(class='data-container users-list')
							div
								div.header
									h2.small last 10 users to retweet you 
									a(href='#', data-toggle='dropdown', class='dropdown-toggle')
										i.icon-cog
									ul(class='dropdown-menu hide')
										li: a(href='#')
											i.icon-group
											span display top liking users
										li: a(href='#')
											i.icon-group
											span display top sharing users
										li: a(href='#')
											i.icon-group
											span display top commenting users
								ul
									li: a(href='#') <img src='https://profile-a.xx.fbcdn.net/hprofile-ash2/c9.5.57.57/s32x32/228973_10200937536347296_820313631_t.jpg' /> Andy Gonzalez
									li: a(href='#') <img src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c5.5.65.65/s32x32/995037_10201379987161566_1563880293_t.jpg' /> Stephanie Bogus
									li: a(href='#') <img src='https://profile-a.xx.fbcdn.net/hprofile-prn1/c7.5.62.62/s32x32/31458_10200424974740320_1404269548_t.jpg' /> Brad Bogus
									li: a(href='#') <img src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c0.10.66.66/s32x32/936958_522530857784897_905958233_t.jpg' /> Rob Contreras
									li: a(href='#') <img src='https://profile-a.xx.fbcdn.net/hprofile-ash3/c2.1.65.65/s32x32/563015_10201152918479075_1124709741_t.jpg' /> Elijah May
									li: a(href='#') <img src='https://profile-a.xx.fbcdn.net/hprofile-ash2/c9.5.57.57/s32x32/228973_10200937536347296_820313631_t.jpg' /> Andy Gonzalez
									li: a(href='#') <img src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c5.5.65.65/s32x32/995037_10201379987161566_1563880293_t.jpg' /> Stephanie Bogus
									li: a(href='#') <img src='https://profile-a.xx.fbcdn.net/hprofile-prn1/c7.5.62.62/s32x32/31458_10200424974740320_1404269548_t.jpg' /> Brad Bogus
									li: a(href='#') <img src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c0.10.66.66/s32x32/936958_522530857784897_905958233_t.jpg' /> Rob Contreras
									li: a(href='#') <img src='https://profile-a.xx.fbcdn.net/hprofile-ash3/c2.1.65.65/s32x32/563015_10201152918479075_1124709741_t.jpg' /> Elijah May

				div.social-footer
					div.current-page
						a(href='#', class='app-color twitter'): i.icon-twitter
						span twitter
					div.page-options
						a(href='#', data-toggle='dropdown', class='dropdown-toggle'): i.icon-cog
						ul(class='dropdown-menu dropup')
							li: a(href='#')
								i.icon-wrench
								span vocada twitter settings

					//-!{JSON.stringify(locals.twitter.data)}
			- } else {
				div.social-login
					p Please login to Twitter using your business account.
					div(class="social-login-button twitter-login-button")
						a(href="#{locals.twitter.url}", class="icon blue border app-color twitter")
							i.icon-twitter
							span login

				div.help-box
					a(href="#") "My business is a Facebook personal page!" No worries click here for a guide on switching your personal page to a business page. 

				div.help-box
					a(href="#") "I'm not the admin of my Facebook page!" No worries click here to see a guide of having a current admin grant you access.
			- }