div.help-partial 
	h3 Notifications Help Box 
	p notifications let you know what's happening in your social world and are at the heart of what Vocada is all about.
	p post notifications let you know if new posts have gone up on your business page. 

footer.viewport
	h3 Facebook Notifications Help
	a(ng-click='view.toOrigin()')
		i.icon-remove-sign