div#login-logo
	h3.subheader search google places for your business

div(class="form login-page-containers float-left")
	form(ng-submit='network.google.save("places")', id="create-business-form", class="yelp-business-id-form", accept-charset="utf-8")
		input(ng-model='network.google.network', type="hidden", value="places")
		fieldset
			div(class="input text required")
				label business name
				input(ng-model='network.google.name', type="text", name="name", id="google-business-name")
			div(class="input text")
				label city
				input(ng-model='network.google.city', type="text", name="name", id="google-business-city")
			div(class="input text")
				label state
				input(ng-model='network.google.state', type="text", name="name", id="google-business-state")
		div.submit
			input(type='submit', value='submit')

