form(ng-submit='network.google.save()', id="google-business-id-form", accept-charset="utf-8")
	fieldset
		div(class="input text")
			label business name
			input(ng-model='network.google.name', type="text", name="name", id="google-business-name")
		div(class="input text")
			label city
			input(ng-model='network.google.city', type="text", name="name", id="google-business-city")
		div(class="input text")
			label state
			input(ng-model='network.google.state', type="text", name="name", id="google-business-state")
		div(class="input text")
			label zipcode
			input(ng-model='network.google.zipcode', type="number", name="name", id="google-business-zipcode")
	div - OR -
	fieldset
		div(class="input text")
			label business google url
			input(ng-model='network.google.url', type="text", name="url", id="google-business-url", placeholder='http://')
	div.submit
		input(type='submit', value='submit') 